<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Hi, {{name}}</p>
    <p>Seems that you forgot your password.</p>
    <p>Click the button below to reset your password.</p>
    <p>
        <a href="{{link}}">Reset password</a>
    </p>
    <p>
        Best Regards!<br />
        <strong>Conexia Team</strong>
    </p>
</div>